name: Notify Backend When Lab is Ready

on:
  workflow_call:
    inputs:
      student_username:
        required: true
        type: string
      status:
        required: false
        type: string
        default: "ready"

jobs:
  notify-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Get Auth0 token
        id: auth
        run: |
          JSON_PAYLOAD=$(cat <<EOF
            {
                "grant_type": "client_credentials",
                "client_id": "${{ secrets.AUTH0_CLIENT_ID }}",
                "client_secret": "${{ secrets.AUTH0_CLIENT_SECRET }}",
                "audience": "${{ secrets.AUTH0_AUDIENCE }}"
            }
            EOF
           )

          response=$(curl -s --request POST \
            --url https://${{ secrets.AUTH0_DOMAIN }}/oauth/token \
            --header 'Content-Type: application/json' \
            --data "$JSON_PAYLOAD")

          token=$(echo "$response" | jq -r .access_token)

          if [[ "$token" == "null" || -z "$token" ]]; then
            echo "âŒ Failed to get token: $response"
            exit 1
          fi

          echo "token=$token" >> "$GITHUB_OUTPUT"

      - name: Notify backend when lab is ${{ inputs.status }}
        run: |
          curl -X POST https://lab-backend.cloudmentor.hu/lab-ready \
            -H "Authorization: Bearer ${{ steps.auth.outputs.token }}" \
            -H "Content-Type: application/json" \
            -d "{\"username\": \"${{ inputs.student_username }}\", \"status\": \"${{ inputs.status }}\"}"
